* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 16px;
    min-height: 0;
}
window#waybar {
    background: #222;
    color: #fff;
}
#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #fff;
}
#workspaces button.focused {
    background: #666;
}
#clock {
    padding: 0 10px;
}
